*
{
   margin: 0;
   padding: 0;
   font-family:"Roboto", sans-serif; 
   box-sizing: border-box;
}    
    
.logo {
  position: absolute;   
  top: 0px;            
  right: 0px;          
}
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 

}

.animated-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.15);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.3);
}

.animated-text {
  font-size: 28px;
  font-weight: bold;
  color: white;
  margin-bottom: 20px;
  min-height: 40px;
}



.begin-btn {
  display: inline-block;
  background: goldenrod;
  color: rgb(7, 7, 7);
  padding: 12px 24px;
  border-radius: 30px;
  font-size: 18px;
  text-decoration: none;
  cursor: pointer;
  transition: background 0.3s easbe;
}

.logo img {
  width: 200px;         
  height: auto;         
  display: block;       
}


.mains
{
    width:100%;
    min-height: 100vh;
    padding: 10px;
    position:relative;
    z-index:1;
    /* background: linear-gradient(to right,blue,red); */
}
.bg-video{
position: fixed;
top:0;
left:0;
width:100%;
height:100%;
object-fit: cover;
z-index:-2;
}


.todo-design
{
width: 100%;
max-width: 540px;
backdrop-filter: blur(8px); 
border-radius: 30px;
background: rgba(113, 103, 103, 0.15);
box-shadow: 0 4px 12px black; 
margin: 100px auto 20px;
padding: 40px 30px 70px;
border-radius: 40px;
}

.todo-design h2
{
  color:rgb(35, 34, 25) ;
  background: rgb(239, 239, 243);
  display:flex ;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.row
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background:rgb(223, 219, 219);
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}
/* .stat-container{
  padding: 15px 10px;
  margin-bottom: 20px;
  border-radius: 20px;
  border: 4px solid;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  width: 100%;
}

.details{
  width: 100%;
}
.details h3{
  color: azure;
}
#progressbar{
  width: 100%;
  height: 7px;
  background: #000;
  border-radius: 20px;
  position: relative;
  margin-top: 15px;
}

#progress{
  width: 50%;
  height: 100%;
  background: #000;
  border-radius: 20px;
  transition: width 0.3sec ease;
}

#numbers{
   display: flex;
   align-items: center;
   width: 80px;
   height: 80px;
   background: #000;
   border: 2px solid;
   font-weight: bold;
   border-radius: 50%;
   font-size: 1.5rem;

} */

input{
    flex: 1;
    border: none;
    outline:none;
    background:transparent;
    padding: 10px;
    font-weight:60px;
    color: black;
}

button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: goldenrod;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border-radius: 40px;
}


ul li
{
  list-style: none;
  font-size: 18px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

ul li::before
{
    content:'';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image:url(images/unchecked.png) ;
    background-size: cover ;
    background-position: center;
    top: 12px;
    left: 8px;
}

ul li.checked
{
 color:black;
 text-decoration: line-through;
}

ul li.checked::before
{
 background-image: url(images/check-mark.png);

}
ul li span
 {
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color:black;
    line-height: 40px;
    text-align: center;
    border-radius: 50%;
 }
   
ul li span:hover
{
  background: goldenrod;
}
@media (max-width: 800px) {
  .todo-design {
    margin-top: 100px;  
    padding: 20px;      
  }

  .logo img {
    width: 120px;        
  }
}



    
    
